@import "tailwindcss";

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

:root {
    --blue: #476EAE;
    --bg: #ffffff;
}
  
@theme inline {
    --color-blue: var(--blue);
    --color-bg: var(--bg);
}

.scroll-bar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-bar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
    color: var(--color-blue);
    background-color: var(--color-bg);
}