@import "tailwindcss";

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

:root {
    --text: #0c0c0d;
    --background: #f2f4f8;
    --primary: #0647a7;
    --secondary: #5f96fc;
    --accent: #c4dff2;
}

[data-theme="dark"] {
    --text: #f2f2f3;
    --background: #07090d;
    --primary: #5898f9;
    --secondary: #1447e6;
    --accent: #162456;
}
  
@theme inline {
    --color-text: var(--text);
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
}

.scroll-bar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-bar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
    font-family: "Poppins", sans-serif;
}